.patient-manage-page {
    .btn {
        margin-bottom: 30px;
    }

    .card {
        margin-bottom: 30px;
    }

    .list-group {
        margin-bottom: 30px;

        .list-group-item p {
            margin-bottom: 0;
        }
    }
}
