<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">Stuhlgang</a>

    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
            class="navbar-nav mr-auto"
            data-bind="foreach: pages"
        >
            <li
                class="nav-item"
                data-bind="css: { active: pager.getActivePage().getCurrentId() === id}"
            >
                <a
                    class="nav-link"
                    data-bind="
                        page-href: url,
                        text: title"
                ></a>
            </li>
        </ul>
        <div data-bind="if: loggedIn">
            <button
                class="btn btn-link"
                style="padding-left: 0; color: white;"
                type="button"
                data-bind="click: logout"
            >
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </button>
        </div>
    </div>
</nav>
