<h2>DASHBOARD</h2>

<div data-bind="if: patients().length == 0">
    <h3>No patients yet</h3>
</div>

<div data-bind="if: patients().length > 0">

<div
    class="list-group list-group-flush"
    data-bind="foreach: patients"
>

    <!--
    <pre data-bind="text: ko.toJSON($data, null, 4)"></pre>
    -->

    <a
        class="list-group-item list-group-item-action"
            data-bind="page-href: $parent.patientUrl($data), text: display_name"
    >
    </a>

    use a computed: <a data-bind="page-href: my_url, text: display_name"></a>

    or just build it in the template:
    <a data-bind="page-href: '/patients/' + patient_number(), text: display_name"></a>

</div>

</div>
