<div class="page login-page">
    <form id="Login_Form" class="form-signin">
        <div class="text-center">
            <h1 class="h2 font-weight-normal">Stuhlgang</h1>

            <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email Address"
                required
                autofocus
                data-bind="value: email"
            />

            <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Password"
                required
                data-bind="value: password"
            />

            <button
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                data-bind="click: onSubmit"
            >
                Sign in
            </button>
        </div>
    </form>
</div>
