<div class="page login-page">
    <form id="Login_Form" class="form-signin">
        <div class="text-center">
            <h1 class="h2 font-weight-normal">Stuhlgang</h1>

            <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email Address"
                required
                autofocus
                data-bind="value: email"
            />

            <input
                type="text"
                class="form-control"
                name="code"
                placeholder="Confirmation Code"
                required
                data-bind="value: code"
            />

            <button
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                data-bind="click: onSubmit"
            >
                Sign in
            </button>

            <div class="links">
                <p>
                    <a data-bind="page-href: '/getcode'">
                        Get a confirmation code
                    </a>
                </p>
                <p>
                    <a data-bind="page-href: '/signup'">
                        Sign up for an account
                    </a>
                </p>
            </diV>
        </div>
    </form>
</div>
