<div class="page patient-manage-page">
    <a
        class="btn btn-light btn-lg btn-block"
        data-bind="page-href: '/patient'"
    >
        <i class="fas fa-arrow-left"></i>
        Back to patients
    </a>

    <div class="card" data-bind="with: patient">
        <div class="card-body">
            <h5 class="card-title" data-bind="text: displayName"></h5>
            <p class="card-text" data-bind="text: extraNotes"></p>
        </div>
    </div>

    <button
        class="btn btn-danger btn-lg btn-block"
        data-bind="click: handleDelete"
    >
        <i class="fas fa-trash"></i>
        Delete
    </button>
</div>

