<div data-bind="
     page: {
        id: 'start',
        title: 'Stuhlgang: Patients',
        source: 'templates/patient_dashboard.html',
        with: patientDashboardViewModel,
        afterShow: patientDashboardViewModel.initialize,
     }"
></div>

<div data-bind="
    page: {
        id: 'create',
        title: 'Stuhlgang: Create Patient',
        source: 'templates/patient_create.html',
        with: patientCreateViewModel,
        afterShow: patientCreateViewModel.initialize,
    }"
></div>

<div data-bind="
    page: {
        id: 'manage',
        params: ['id'],
        title: 'Stuhlgang: Manage Patient',
        source: 'templates/patient_manage.html',
        with: patientManageViewModel,
        afterShow: patientManageViewModel.initialize,
    }"
></div>

<div data-bind="
    page: {
        id: 'new_event',
        params: ['id'],
        title: 'Stuhlgang: New Event',
        source: 'templates/patient_new_event.html',
        with: patientNewEventViewModel,
        afterShow: patientNewEventViewModel.initialize,
        beforeHide: patientNewEventViewModel.beforeHide,
    }"
></div>

<div data-bind="
    page: {
        id: 'event',
        params: ['eventId'],
        title: 'Stuhlgang: Event',
        source: 'templates/patient_event.html',
        with: patientEventViewModel,
        afterShow: patientEventViewModel.initialize,
    }"
></div>
